main {
  padding-top: 8rem;
  
  .items ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      width: 47%;
      margin-bottom: 2rem;
      @media (min-width: 769px) {
        width: 23%;
      }
      
      img {
        width: 100%;
      }
      
      p {
        margin: 0;
      }
    }
  }
  
  .more {
    margin-top: 2rem;
    text-align: center;
    
    a {
      text-decoration: none;
      color: #333333;
      font-size: 1.4rem;
    }
  }
}